{% extends 'front/base.html' %}
{% load static %}
{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>{{about.body}}</p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'front/images/about-img.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
{% endblock %}